<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" data-setbg="img/breadcrumb-bg.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb-text">
                    <h2>About us</h2>
                    <div class="bt-option">
                        <a href="#!home">Home</a>
                        <span>About</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->

<div style="background-color:black;color:white;">
    <div class="container">
        <h3 class="text-center" style="margin:20px auto;">ABOUT FESTIVALS</h3>
        <p>
            Festivals.com is an online free content project helping to create a world in which everyone can freely share in the sum of
            all knowledge concerning festivals. It is assigned by the Aptech management and based on a cumulative assessment
            in order to monitor the progress rate of her students. The name "festivals.com" was used in order to hint the
            website visitor(s) a vague insight on what the site is all about.
        </p>
        <p>
            Festivals.com is designed and developed collaboratively by ADSE Batch 763. different sections of the website Anyone with
            Internet access can write and make changes to Wikipedia articles, except in limited cases where editing is restricted
            to prevent further disruption or vandalism.
        </p>
        <hr>
        <p>
            Our Mission is to enable our viewers to have informations and know a lot more about festivals. This is also a guide to some
            of the most common types of festivals out there. You’ll get to know the reasons behind these celebrations, as
            well as examples of some of the most popular festivals on the planet.
        </p>
        <hr>
        <p>Before built into a single e-project, the four(4) sections by which festivals.com was disintegrated into with their
            various developers are as follows –
        </p>
        <ul>
            <li class="team">
                <h4>CODING</h4>
                <ul>
                    <li>AJAYI OLUWATOMISIN ADEOLA</li>
                    <li>ONYEULO UCHENNA DAVID CLINTON</li>
                    <li>IGBOKWE TOBECHUKWU GERARD</li>
                </ul>
            </li>
            <li class="team">
                <h4>DOCUMNETATION</h4>
                <ul>
                    <li>IGBOKWE TOBECHUKWU GERARD</li>
                    <li>OLAGOKE ABDULLAHI TIMILEHIN </li>
                </ul>
            </li>
            <li class="team">
                <h4>FIGMA/FLOWCHARTS</h4>
                <ul>
                    <li>MACAULAY OLAJIDE BABATUNDE/li>
                        <li>INASA-THOMAS OLWASIKEMI ADEWUNMI</li>
                        <li>GODWIN MIRACLE</li>
                </ul>
                </li>
                <li class="team">
                    <h4>LOGO DESIGN</h4>
                    <ul>
                        <li>ONYEULO UCHENNA DAVID CLINTON</li>
                    </ul>
                </li>
                <li class="team">
                    <h4>CONTENT DEVELOPMENT</h4>
                    <ul>
                        <li>LASISI DAMILOLA</li>
                        <li>OLAGOKE ABDULLAHI TIMILEHIN</li>
                        <li>INASA-THOMAS OLWASIKEMI ADEWUNMI</li>
                    </ul>
                </li>
        </ul>

        <p style="margin-bottom:0;">
            Anyone is allowed to visit, access, make suggestions or effect corrections on words, references, images, and other media
            here. What is contributed is more important than who contributes it. To remain, the content must be free of copyright
            restrictions and contentious material about festivals.
        </p>
    </div>
</div>