<div class="container" style="margin-top:20px;">
    <h3 class="text-center">Introducing Different Types Of Festivals.</h3>
    <br>
    <br>

    <div>
        <div class="row">
            <div class="col-md-6 note">
                <h2>RELIGIOUS FESTIVALS</h2>
                <p>A religious festival is a time of special importance marked by adherents to that religion. Religious festivals
                    are commonly celebrated on recurring cycles in a calendar year or lunar calendar. Hundreds of very different
                    religious festivals are held around the world each year.
                    <a href="#!religious" class="festLink">read more</a>
                </p>
            </div>
            <div class="col-md-6">
                <img src="../img/religious.png" style="height: 330px;" alt="Religious Festivals" class="img-responsive home-img">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <img src="../img/art.png" alt="Arts Festivals" class="img-responsive home-img" style="height: 258px;margin-top: 6px;">
            </div>
            <div class="col-md-6 note">
                <h2>ARTS FESTIVALS</h2>
                <p>An arts festival is a festival that can encompass a wide range of art forms including music, dance, film,
                    fine art, literature, poetry and isn't solely focused on visual arts. Arts festivals may feature a mixed
                    program that include music, literature, comedy, children's entertainment, science, or street theatre,
                    and are typically presented in venues over a period of time ranging from as short as a day or a weekend
                    to a month.
                    <a href="#!art" class="festLink">read more</a>
                </p>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6 note">
                <h2>FOOD FESTIVALS</h2>
                <p>A food festival is an event celebrating food or drink. These often highlight the output of producers from
                    a certain region. Some food festivals are focused on a particular item of food, such as the National
                    Peanut Festival in the United States, or the Galway International Oyster Festival in Ireland. There are
                    also specific beverage festivals, such as the famous Oktoberfest in Germany for beer. Many countries
                    hold festivals to celebrate wine.
                    <a href="#!food" class="festLink">read more</a>
                </p>
            </div>
            <div class="col-md-6">
                <img src="../img/food.png" alt="Food Festivals" class="img-responsive home-img" style="height: 258px;">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <img src="../img/seasonalharvest.png" style="height: 330px;" alt="Seasonal Festivals" class="img-responsive home-img">
            </div>
            <div class="col-md-6 note">
                <h2>SEASONAL FESTIVALS</h2>
                <p>Seasonal festivals, such as Beltane, are determined by the solar and the lunar calendars and by the cycle
                    of the seasons, especially because of its effect on food supply, as a result of which there is a wide
                    range of ancient and modern harvest festivals.</p>
                <a href="#!seasonal" class="festLink">read more</a>
            </div>
        </div>
    </div>
</div>