<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" data-setbg="file:///C:/Users/User/Desktop/gymlife-master/img/main%20img.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb-text">
                    <h2>Religious Festival</h2>
                    <div class="bt-option">
                        <a href="#!home">Home</a>
                        <span>Religious Festival</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->

<!-- Blog Section Begin -->
<section class="blog-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 p-0">
                <div class="blog-item">
                    <div class="bi-pic">
                        <img src="img\roman.jpg" alt="">
                    </div>
                    <div class="bi-text">


                        <h6>
                            <p>Festivals in ancient Rome were a very important part of Roman religious life during both the
                                Republican and Imperial eras, and one of the primary features of the Roman calendar</p>
                            <button class="rome">
                                <a href="https://en.wikipedia.org/wiki/Roman_festivals">More Info</a>
                            </button>
                        </h6>
                    </div>
                </div>
                <div class="blog-item">
                    <div class="bi-pic">
                        <img src="../img/buddha-purnima1.jpg" alt="">
                    </div>
                    <div class="bi-text">

                        <h6>
                            <p>Vesak is one of the most important Buddhist festivals. It is also known as Wesak or Buddha Day.
                                It is a celebration of Buddha's birthday and, for some Buddhists, marks his enlightenment
                                (when he discovered life's meaning). It is also a time to reflect on his teachings and what
                                it means to be Buddhist</p>
                            <button class="rome">
                                <a href="https://en.wikipedia.org/wiki/Roman_festivals">More Info</a>
                            </button>
                        </h6>
                    </div>
                </div>
                <div class="blog-item">
                    <div class="bi-pic">
                        <img src="../img/religious.png" alt="">
                    </div>
                    <div class="bi-text">
                        <h6>

                            <p>This major Muslim festival marks the end of the pilgrimage (or Hajj) to Makkah which Muslims
                                are encouraged to make at least once in their lifetime. The Hajj is one of the five pillars
                                of Islam. For the festival, animals are sacrificed by pilgrims on the way back to Makkah
                                from Mount Arafat, in commemoration of Abraham's (Ibrahim's) willingness to sacrifice his
                                son
                            </p>
                            <button class="rome">
                                <a href="https://www.bolton.ac.uk/Chaplaincy/Worldviews/Festivals/IslamicFestivals.aspx#gsc.tab=0">More Info</a>
                            </button>
                        </h6>

                    </div>
                </div>
                <div class="blog-item">
                    <div class="bi-pic">
                        <img src="../img/chris.jpg" alt="">
                    </div>
                    <div class="bi-text">
                        <h6>
                            <p>Advent Sunday is the start of the Christian year and, in the Western churches, is four Sundays
                                before Christmas. The Advent season continues until Christmas.</p>
                            <button class="rome">
                                <a href="https://www.bolton.ac.uk/Chaplaincy/Worldviews/Festivals/ChristianFestivals.aspx#gsc.tab=0">More Info</a>
                            </button>
                        </h6>
                    </div>
                </div>
                <div class="blog-item">
                    <div class="bi-pic">
                        <img src="../img/indian.jpg" alt="">
                    </div>
                    <div class="bi-text">

                        <h6>
                            <p>The spectacular 11-day Ganesh Chaturthi festival honors the birth of the beloved Hindu elephant-headed
                                god, Lord Ganesha..</p>
                            </p>
                            <button class="rome">
                                <a href="https://www.tripsavvy.com/most-popular-festivals-in-india-1539299">More Info</a>
                            </button>
                        </h6>
                    </div>
                </div>

            </div>

        </div>
    </div>
</section>
<!-- Blog Section End -->

<p style="font-size: 20px;text-align: center;margin-top:10px">Download PDF or purchase the book below</p>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <button class="buttonBtn">
                <a href="../books/real Christian Festivals-converted-compressed.pdf" download>Download PDF</a>
            </button>
        </div>
        <div class="col-md-6">
            <button class="buttonBtn">
                <a href="../books/real Christian Festivals-converted-compressed.pdf" target="_blank">Buy Book</a>
            </button>
        </div>
    </div>
</div>